.ks-button, input[type="file"]::-webkit-file-upload-button {
    vertical-align: middle;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: rgb(55, 159, 224);
    color: #fff;
    align-items: stretch;
    padding: 0px 15px;
    font-size: 16px;
    font-weight: 500;
    min-width: 38px;
    min-height: 38px;
    transition: 0.20s ease-out;
    text-align: center;
}

.buttons-block > .ks-button  {
    align-self: stretch;
    padding: 0px 10px;
    width:100%;
}

.ks-button:hover {

    
    transition: 0.20s ease-out;

}

.ks-button:active {

    transition: 0.20s ease-out;

}



 
  